
build/cli/localpycos/pyimod01_os_path.pyc
.idea/BICE_misc.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/cli.cpython-37.pyc
__pycache__/loc_check.cpython-37.pyc
__pycache__/settings.cpython-37.pyc
__pycache__/t_time.cpython-37.pyc
build/cli/xref-cli.html
build/cli/warn-cli.txt
build/cli/PYZ-00.toc
build/cli/PYZ-00.pyz
build/cli/PKG-00.toc
build/cli/PKG-00.pkg
build/cli/localpycos/struct.pyo
build/cli/localpycos/pyimod03_importers.pyc
build/cli/localpycos/pyimod02_archive.pyc
build/cli/EXE-00.toc
build/cli/base_library.zip
build/cli/Analysis-00.toc
dist/cli
